@model IEnumerable<CdStore.Models.Users>

<h2>Lista użytkowników</h2>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Imię i nazwisko</th>
            <th>Zablokowany?</th>
            <th>Akcja</th>
        </tr>
    </thead>
    <tbody class="text-white">
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Id</td>
                <td>@u.Email</td>
                <td>@u.FullName</td>
                <td>@(u.IsBlocked ? "TAK" : "NIE")</td>
                <td>
                    <form asp-action="ToggleBlock" method="post">
                        <input type="hidden" name="id" value="@u.Id" />
                        <button type="submit" class="btn @(u.IsBlocked ? "btn-warning" : "btn-outline-warning")">
                            @(u.IsBlocked ? "Odblokuj" : "Zablokuj")
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
